div.dokuwiki {
    h1 + div.level1, h2 + div.level2, h3 + div.level3, h4 + div.level4, h5 + div.level5 {
        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    div.floatwrapper {
        margin: 5px;

        &.center {
            margin: 0 auto;
            display: table;
        }

        &.left {
            float: left;
        }

        &.right {
            float: right;
        }

        div.editbutton_table {
            margin-bottom: 0;
        }
    }
}
