div.dokuwiki {

    #layoutcontainer {
        fieldset {
            width: 80%;

            &.borderless {
                border: none;
            }

            legend {
                text-decoration: underline;
                cursor: pointer;
            }

            label {
                display: block;
                text-align: left;
                margin-bottom: 5px;

                span {
                    display: inline-block;
                    width: 40%;
                }
            }
        }

        margin-bottom: 5px;
    }

    div.floatwrapper {
        margin: 0 0 1em;

        div.table > table {
            margin-right: 15px;
        }

        &.center {
            clear: both;
            margin-left: auto;
            margin-right: auto;
            display: table;
        }

        &.left {
            float: left;
            margin-right: 1em;
            margin-left: 0;
        }

        &.right {
            float: right;
            margin-right: 0;
            margin-left: 1em;
        }

        div.editbutton_table {
            margin-bottom: 0;
        }
    }

    div.table {
        > div {
            overflow-x: hidden;
        }

        td, th {
            word-wrap: break-word;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;

            &.sortable {
                cursor: pointer;
                background: no-repeat right;

                &.unsorted {
                    background-image: url('images/sort.svg');
                }

                &.sorted_asc {
                    background-image: url('images/sort-ascending.svg');
                }

                &.sorted_desc {
                    background-image: url('images/sort-descending.svg');
                }
            }
        }

        table.flexiblewidth {
            min-width: unset;
            width: unset;
        }

        table.widthsfixed {
            width: 10px;
            table-layout: fixed;
        }
    }
}
